:root{
    --blue1: #38AECC;
    --blue2: #0090C1;
    --blue3: #046E8F;
    --blue4: #022F40;
    --blue5: #183446;

    --spectrum-blue: #264653;
    --spectrum-green: #2A9D8F;
    --spectrum-yellow: #E9C46A;
    --spectrum-orange: #F4A261;
    --spectrum-red: #E76F51;
}

/* Navigation tabs CSS */
.nav-link {
    color: var(--blue3);
}
.live-map-container {
    /* border: 3px solid var(--spectrum-blue); */
}


/* Emergency stop tab CSS */
#emergency-stop-tab {
    background-color: var(--spectrum-red);
}
#emergency-stop-tab:active {
    background-color:white;
}
#emergency-stop-tab #emergency-stop-icon{
    color: white;
    background-color: var(--spectrum-red);
}
#emergency-stop-tab:active #emergency-stop-icon{
    color: var(--spectrum-red);
    background-color: white;
}

/* Control tab CSS */
#destination-picker {
    margin: 50px;
    background-color: var(--spectrum-green);
}


/* Teleop tab CSS */
div[class*="-tier"] {
    height: 50px;
}
.teleop-control-set {
    font-size: 40px;
    text-align: center;
}
i[class^="fas fa-arrow-alt-circle-"] {
    color: var(--spectrum-green);
}
i[class^="fas fa-arrow-alt-circle-"]:active {
    color: var(--spectrum-yellow);
}
.fas.fa-ban {
    color: var(--spectrum-red);
}
.fas.fa-ban:active {
    color: var(--spectrum-yellow);
}
}
.help-text {
    margin-top: 30px;
    font-size: 16px;
    color: var(--spectrum-green);
}
.live-feed {
    margin: 10px auto 20px;
    display: block;
}
