{% extends 'base.html' %}

{% block control_tab %}
<a id="control" class="nav-link active" href="#" onclick="navigateToPage('control')">Control</a>
{% endblock %}

{% block content %}
<div class="dropdown">
    <button id="destination-picker" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Set Destination
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Waypoint 1</a>
        <a class="dropdown-item" href="#">Waypoint 2</a>
        <a class="dropdown-item" href="#">Waypoint 3</a>
    </div>
</div>
<div class="live-map-container">
</div>
{% endblock %}