{% extends 'base.html' %}


{% block control_tab %}
    <a id="control" class="nav-link active" href="#" onclick="navigateToPage('control')">Control</a>
{% endblock %}


{% block sidebar%}
    <div class="dropdown">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button id="destination-picker" itemprop="not-ready" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Set Destination
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for waypoint_name in waypoints.keys(): %}
                    <a class="dropdown-item" href="#" onclick="updatePickerText('{{waypoint_name}}')" >{{waypoint_name}}</a>
                    {% endfor %}
                </div>
            </div>
            <button id="go-button" type="button" class="btn btn-secondary" onclick="goToDestination()"> GO </button>
        </div>
    </div>
{% endblock %}


{% block content %}

    <script>
        function updatePickerText(selectedDestination) {
            var picker = $('#destination-picker');
            picker.attr('itemprop','ready');
            picker.text(selectedDestination);
        }
        function goToDestination() {
            var picker = $('#destination-picker');
            if (picker.attr('itemprop') === 'ready' ){
                var destination = picker.text();
                $.post( "/control/go", { waypointName: destination } );
            }
        }
    </script>
{% endblock %}
