{% extends 'base.html' %}

{% block teleop_tab %}
    <a id="teleop" class="nav-link active" href="#" onclick="navigateToPage('teleop')">Teleop</a>
{% endblock %}

{% block sidebar%}
<div class="teleop-control-set">
    <div class="teleop-control-top-tier">
        <i id="up-arrow" class="fas fa-arrow-alt-circle-up" onclick="sendCommand('forward')"></i>
    </div>
    <div class="teleop-control-middle-tier">
        <i id="left-arrow" class="fas fa-arrow-alt-circle-left" onclick="sendCommand('left')"></i>
        <i id="down-arrow" class="fas fa-arrow-alt-circle-down" onclick="sendCommand('backward')"></i>
        <i id="right-arrow" class="fas fa-arrow-alt-circle-right" onclick="sendCommand('right')"></i>
    </div>
    <div class="teleop-control-bottom-tier">
        <i id="stop-button" class="fas fa-ban" onclick="sendCommand('stop')"></i>
    </div>
</div>
<div class="help-text">
    You can also use arrow keys. Spacebar stops the robot.
</div>
{% endblock %}

{% block content %}
    <div class="live-feed-container">
        <img id="live-feed" src="http://127.0.0.1:5000/stream">
        <div class="help-text">Press 'R' to reload image feed.</div>
    </div>
    <div id="current-key"></div>
    <script>
        function sendCommand(commandString){
            $.post( "/teleop/command", { command: commandString } );
        }
        document.onkeydown = function(event) {
            var keyMap = {
                'ArrowUp': 'up-arrow',
                'ArrowDown': 'down-arrow',
                'ArrowLeft': 'left-arrow',
                'ArrowRight': 'right-arrow',
                'Space': 'stop-button'
            };
            var keyPressed = event.code;
            
            if (keyPressed === 'KeyR'){
                document.location.reload(false);
            }

            if (Object.keys(keyMap).includes(keyPressed)) {
                var defaultColor = keyPressed === 'Space' ? '#E76F51' : '#2A9D8F';
                var elementId = keyMap[keyPressed];
                document.getElementById( elementId ).click();
                    $(`#${elementId}`).css('color','#E9C46A');
                    setTimeout(() => {$(`#${elementId}`).css('color', defaultColor);}, 100 );
            }
        }
    </script>
{% endblock %}
