{% extends 'base.html' %}

{% block teleop_tab %}
    <a id="teleop" class="nav-link active" href="#" onclick="navigateToPage('teleop')">Teleop</a>
{% endblock %}

{% block sidebar%}
<div class="teleop-control-set">
    <div class="teleop-control-top-tier">
        <i id="up-arrow" class="fas fa-arrow-alt-circle-up" onclick="sendCommand('forward')"></i>
    </div>
    <div class="teleop-control-middle-tier">
        <i id="left-arrow" class="fas fa-arrow-alt-circle-left" onclick="postToRoute('teleop/left')"></i>
        <i id="down-arrow" class="fas fa-arrow-alt-circle-down" onclick="postToRoute('teleop/backward')"></i>
        <i id="right-arrow" class="fas fa-arrow-alt-circle-right" onclick="postToRoute('teleop/right')"></i>
    </div>
    <div class="teleop-control-bottom-tier">
        <i id="stop-button" class="fas fa-ban" onclick="postToRoute('teleop/stop')"></i>
    </div>
</div>
<div class="help-text">
    You can also use arrow keys. Spacebar stops the robot.
</div>
{% endblock %}

{% block content %}
    <div class="live-feed-container">
        <img id="live-feed" src="http://127.0.0.1:5000/stream">
        <div class="help-text">Press 'R' to reload image feed.</div>
    </div>
    <div id="current-key"></div>
    <script>
        function sendCommand(commandString){
            $.post( "/teleop/command", { command: commandString } );
        }
        document.onkeydown = function(event) {
            var keyPressed = event.code;
            switch(keyPressed) {
                case 'ArrowUp':
                    document.getElementById('up-arrow').click();
                    $('#up-arrow').css('color','#E9C46A');
                    setTimeout(() => {$('#up-arrow').css('color','#2A9D8F');}, 100 );
                    break;
                case 'ArrowDown':
                    document.getElementById('down-arrow').click();
                    $('#down-arrow').css('color','#E9C46A');
                    setTimeout(() => {$('#down-arrow').css('color','#2A9D8F');}, 100 );
                    break;
                case 'ArrowLeft':
                    document.getElementById('left-arrow').click();
                    $('#left-arrow').css('color','#E9C46A');
                    setTimeout(() => {$('#left-arrow').css('color','#2A9D8F');}, 100 );
                    break;
                case 'ArrowRight':
                    document.getElementById('right-arrow').click();
                    $('#right-arrow').css('color','#E9C46A');
                    setTimeout(() => {$('#right-arrow').css('color','#2A9D8F');}, 100 );
                    break;
                case 'Space':
                    document.getElementById('stop-button').click();
                    $('#stop-button').css('color','#E9C46A');
                    setTimeout(() => {$('#stop-button').css('color','#E76F51');}, 100 );
                    break;
                case 'KeyR':
                    document.location.reload(false);
                    break;
            }
        }
    </script>
{% endblock %}
